<p id="notice"><%= notice %></p>

<h1>Pages</h1>

<p> The current time is: <%= Time.now %></p>

<% note = 95 %>
<% if note > 60 %>
  Aprobado!
<% end %>

<% 4.times do |index| %>
  <p><%= index %>Perro</p>
<% end %>
